/*
Project Name: Yesterdays News
Client: Lukefest incorperated
Author: Lukefest
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS
/*******************************************/


* {
     box-sizing: border-box;
}


/******************************************
/* TYPOGRAPHY
/*******************************************/


h1 {
     font-size: 5em;
     padding: 0;
     margin: 0;
}

h2 {
     font-size: 3em;
     padding: 0;
     margin: 0;
}

p {
     font-size: 1em;
     padding: 0;
     margin: 0;
}


/******************************************
/* LAYOUT
/*******************************************/



.body {
     background-color: #FFFFFF;
}

.site-container {
     padding-left: 1em;
     padding-right: 1em;
}

.site-content {

     max-width: 960px;
	margin: 0 auto;

}

.site-header {

     display: block;
     height: 6em;
     margin-top: 4em;
     margin-bottom: 4em;

}

.logo {
     display: block;
     float: left;
     height: 6em;
}

.logo img {
     display: block;
     width: 6em;
     margin-left: auto;
     margin-right: auto;
}

.logo-text {
     font-size: 1.6em;
     font-family: "helvetica neue";
     font-weight:500;
     line-height: 1em;
     padding: 0;
     margin: 0;
}

.intro {

     display: inline-block;
     float: left;
     text-align: center;
     padding-top: 2.3em;
     height: 6em;
     width: 15em;
     margin-left: 3em;
     margin-right: 3em;

}

.subreddit-form {

     display: inline-block;
     float: left;
     padding-top: 1.8em;
     height: 6em;

}

.subreddit-form input {
     border: 1px solid grey;
     /*border-radius: 2px;*/
     height: 2em;
     width: 15em;
     padding: 0.5em;
     margin-left: 0.2em;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

:-ms-input-placeholder {
   color: black;
}


.news_item {
     margin-top: 2em;
}

.hero_box {

     display: block;
     height: 100%;
     background-color: grey;
     overflow: hidden;

}

.hero_image {

     display: block;
     width: 100%;
     position: relative;
     margin-left: auto;
     margin-right: auto;
     margin-top: 16em;
     background-color: grey;

}


.hero_image:first-of-type {

     margin-top: 0;

}

/*.site-footer {

     position: fixed;
     width: 100%;
     bottom: 0;
     padding:1em;
     text-align: center;
     background-color: rgb(201, 201, 201);

}*/


/******************************************
/* HELPER CLASSES
/*******************************************/


/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
