/*
Project Name: Yesterdays News
Client: Lukefest incorperated
Author: Lukefest
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS
/*******************************************/


* {
     box-sizing: border-box;
     font-family: "helvetica neue", "helevetica", arial, sans-serif;
}


/******************************************
/* TYPOGRAPHY
/*******************************************/


h1 {
     font-size: 5em;
     padding: 0;
     margin: 0;
}

h2 {
     font-size: 3em;
     padding: 0;
     margin: 0;
}

p {
     font-size: 1em;
     padding: 0;
     margin: 0;
}


/******************************************
/* LAYOUT
/*******************************************/



.body {
     background-color: #FFFFFF;
}

.site-container {
     padding-left: 1em;
     padding-right: 1em;
}

.site-content {

     max-width: 960px;
	margin: 0 auto 20em auto;


}

.site-header {

     display: block;
     height: auto;
     margin-top: 4em;
     margin-bottom: 4em;

}

.logo {
     display: block;
     height: 6em;
     width: 6em;
     margin-left: auto;
     margin-right: auto;
}

.logo img {
     display: block;
     width: 6em;
}

.logo-text {
     font-size: 1.6em;
     font-weight:500;
     line-height: 1em;
     padding: 0;
     margin: 0;
}

.intro {

     display: block;
     height: 6em;
     width: 14em;

     margin-left: auto;
     margin-right: auto;

     padding: 2.3em 2em 0 2em;

     text-align: center;
     font-weight:500;

}

.subreddit-form {

     display: block;
     width: 16em;
     /*height: 6em;*/

     margin-left: auto;
     margin-right: auto;

     padding-top: 1.8em;

     text-align: center;
     font-weight:500;


}

.subreddit-form input {

     height: 2em;
     width: 10em;
     margin-left: 0.2em;

     border: 1px solid grey;
     padding: 0.5em;
     font-weight:400;

}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

:-ms-input-placeholder {
   color: black;
}


/*.content {
     width: auto;
     float: left;
}*/

.news_item {
     margin-top: 2em;
}

.hero_box {

     display: block;
     height: 100%;
     background-color: grey;
     overflow: hidden;

}

.hero_image {

     display: block;
     width: 100%;
     position: relative;
     margin-left: auto;
     margin-right: auto;
     margin-top: 6em;
     background-color: grey;

}


.hero_image:first-of-type {

     margin-top: 0;

}

/*.site-footer {

     position: fixed;
     width: 100%;
     bottom: 0;
     padding:1em;
     text-align: center;
     background-color: rgb(201, 201, 201);

}*/


/******************************************
/* Media Queries
/*******************************************/


@media only screen and (min-width: 630px) {
    /* For tablets: */

    .site-header {

         /*position: fixed;
         top:0;*/
         float: left;
         width: 100%;

    }

    .logo {
         margin-left: 0;
         margin-right: 0;
         float: left;
    }

    .intro {

         margin-left: 0;
         margin-right: 0;
         float: left;
         text-align: center;

    }

    .subreddit-form {

         margin-left: 0;
         margin-right: 0;
         float: right;
         text-align: right;

    }

    .subreddit-form input {

         height: 2em;
         width: 10em;
         margin-left: 0.2em;

         border: 1px solid grey;
         padding: 0.5em;
         font-weight:400;

    }


}
@media only screen and (min-width: 768px) {
    /* For desktop: */

}


/******************************************
/* HELPER CLASSES
/*******************************************/


/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
